<!--# app/views/articles/_article.html.erb-->
<% cache article do %>
  <article>
    <div class="title"><%= article.title %></div>
    <div class="author"><%= article.user.username %></div>
  </article>
<% end %>
